body {
    height: 100vh;
    width:100vw;
    margin:0;
    border:0;
    background-image: url("images/deathstar.jpg");
}
/*header*/
header {
    display:inline-flex;
    border:2px solid black;
    width:100%;
    height:12.5%;
    color:white;
    background-color:#222;
    opacity:0.8;
    text-align: center;
}

.title {
    font-size:3em;
}
.about_link {
    text-decoration: none;
    color:white;
}
/*stats nav*/
nav {
    border:2px solid black;
    height:auto;
    width:10vw;
    float:left;
    background-color:#222;
    color:white;
    opacity:0.8;
    display:inline-block;
}
nav * {
    margin-bottom: 3em;
    font-size: 1.05em;
}
nav p {
    font-size:2em;
    margin-bottom: 1em;
}
nav .accuracy {
    margin-bottom: 4em;
}
/*game content*/
#game-area {
    display:inline-block;
    float:right;
    border:solid crimson 2px;
    margin-right:15vw;
    background-color:black;
    height:auto;
    width:auto;
}
.card {
    height:25vh;
    width:10vw;
    border:2px solid black;
    display:inline-flex;
    position:relative;
}
.row {
    margin-bottom: 5vh;
}
.front_img {
    width: 100%;
    height: 100%;
}
.back_img {
    width:100%;
    height:120%;
}
.back {
    position:absolute;
    z-index:+1;
}
.front {
    position:absolute;
}
.win {
    color:snow;
}